BASE_SEPOLIA_RPC=https://sepolia.base.org
BASE_MAINNET_RPC=https://mainnet.base.org
BASE_SEPOLIA_CONTRACT_ADDRESS=0xYOUR_DEPLOYED_BASE_SEPOLIA_VERITAS_ADDRESS
BASE_MAINNET_CONTRACT_ADDRESS=0xYOUR_DEPLOYED_BASE_MAINNET_VERITAS_ADDRESS
GENLAYER_CONTRACT_ADDRESS=0xYOUR_DEPLOYED_GENLAYER_VERITAS_ADDRESS
RELAY_PRIVATE_KEY=0xYOUR_BASE_OWNER_PRIVATE_KEY
GENLAYER_PRIVATE_KEY=0xOPTIONAL_GENLAYER_SIGNER_PRIVATE_KEY
GENLAYER_NETWORK=studionet
